/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f5f5f5;
}

header {
    background: #c5b49d;
    color: #fff;
    text-align: center;
}

.silent-alert {
    font-size: 20px;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #6D4C41;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    padding: 20px;
}

aside {
    width: 25%;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.perfil {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.perfil img {
    border-radius: 100px;
}

.reportes ul {
    list-style: none;
    padding: 0;
}

.reportes li {
    background: #eee;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
}

.chat {
    margin-top: 20px;
}

#mensajes {
    height: 150px;
    overflow-y: auto;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
}

#mensajeInput {
    width: 70%;
}

.formulario {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

textarea,
input,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background: #8b7242;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #8b7242;
}